body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
}

.body_content {
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  gap: 5rem;
}

.body h1 {
  font-size: .8rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: left;
  padding: 0;
  margin: 0;
}

.body h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin-top: -1rem;
}

.body h3 {
  color: rgba(255, 255, 255, 0.839);
  font-size: .9rem;
  font-weight: 500;
  text-align: left;
  padding: 0;
  margin-top: -3.3rem;

}

.body h4 {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.body h5 {
  color: #c4c7ca;
  text-align: left;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: left;
  padding: 0;
  padding-bottom: 1.5rem;
  margin-top: -4.5rem;
}

h5::after {
  content: "";
  display: inline-block;
  vertical-align: center;
  width: 50%;
  margin-right: 100%;
  margin-left: 0px;
  border-top: 1px solid #c4c7ca;
}

.body h6 {
  color: #c4c7ca;
  vertical-align: top;
  display: inline-block;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: -3.3rem;
  margin-left: 5rem;
  line-height: 0rem;
}

.table h1 {
  color: #c4c7ca;
  font-size: .9rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.playlist {
  max-width: 100vw;
  max-height: 100vh;
}

.playlist h1 {
  color: #FFFFFFFF;
  vertical-align: top;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
}

.playlist h2 {
  color: #c4c7ca;
  vertical-align: top;
  display: inline-block;
  font-size: .9rem;
  font-weight: 500;
  margin-top: -.5rem;
}

.Item {
  background-color: #FFFFFF;
  padding: 8px;
  text-align: center;
  color: #FFFFFFFF;
}

@media (prefers-color-scheme: dark) {
  .Item {
    background-color: #FFFFFF;
  }
}